<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<appender name="stdOut" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%c] %m%n" />
		</layout>
	</appender>
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logparser.log"/>
		<param name="MaxFileSize" value="1024MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t] [%c] %m%n"/>
		</layout>
	</appender>
	<!--  -->
	<category name="com.amazon">
		<priority value="info" />
		<appender-ref ref="stdOut" />
	</category>
</log4j:configuration>
